.metals/
.bloop/
.bsp/
.vscode/
.idea/

project/target/
project/project/
target/
out/
META-INF/
node_modules/

db/

config.json
.env

modules/chain-tracker/index.js
modules/ergonames-utils/src/main.rs

ergonames-transaction-utils.jar