.metals/
.bloop/
.bsp/
.vscode/
.idea/

project/target/
project/project/
target/
out/
META-INF/
node_modules/

db/

config.json

modules/ergonames-utils/src/main.rs
modules/chain-tracker-ts/index.js
ergonames-transaction-utils.jar